@model Tuple<PFDC.LolaAppWeb.Models.BodyMeasurementsHistory, IEnumerable<PFDC.LolaAppWeb.Models.BodyMeasurementsHistory>>
@{
    ViewBag.Title = "Historial medidas corporales";
}
<h2>Historial de medidas corporales @ViewBag.PatientName @ViewBag.PatientLastName</h2>

@Html.Partial("_PartialCreate", Model.Item1)
@Html.Partial("_PartialList", Model.Item2)